$mainColor: #f44336;
$paraColor: #a7a9a7;
$boxColor: #fff3f3;
$paraSize: 14px;
$maxMobile: "(max-width:767px)";
$minSmall: "(min-width:768px)";
$maxSmall: "(max-width:991px)";
$minMedium: "(min-width:992px)";
$maxMedium: "(max-width:1199px)";
$minLarge: "(mix-width:1200px)";
$transitionDur: 0.5s;
